$warning_btn_clr: #ff6464;
$default_btn_clr: #232229;

$default_btn_nop_clr: #8c7da1;
$default_btn_nop_clr_hover: #7d6f91;

$primary_bg: #50475c;
$secondary_bg: #383542;
$secondary_bg_hover: #332f3b;

$primary_card: #cadbe6;