$warning_btn_clr: #ff6464;
$default_btn_clr: #232229;
$default_btn_nop_clr: #8c7da1;
$default_btn_nop_clr_hover: #7d6f91;
$submit_btn: #c6e900;
$submit_btn_hover: #d9ff00;
$submit_btn_active: #a7c500;

$primary_bg: #50475c;
$secondary_bg: #383542;
$secondary_bg_hover: #332f3b;

$ternary_bg: #2f2d38; 
$ternary_bt_hover: #292730;

$primary_card: #cadbe6;