$top-layer: 100;
@mixin generateLayers {
    $card-count: 4;
    $init-trans-x: 20%;
    $init-scale: .2;
    $trans-x: $init-trans-x;
    $scale: $init-scale;
    @for $i from 1 through $card-count {
    .left-card.layer#{$i} {
        transform: translateX(-$trans-x) scale(1 - $scale);
        z-index: $top-layer - $i;
    }
    .right-card.layer#{$i}{
        transform: translateX($trans-x) scale(1 - $scale);
        z-index: $top-layer - $i;
    }
    $trans-x: $trans-x + $init-trans-x - 5;
    $scale: $scale + $init-scale;
    }
}
