//Card
$card-height: 130px;
$card-width: 220px; 
$card-font-size: 12pt;
$card-outline-size: 4px;
$card-border-radius: 6px;

//Queue
$queue-height: 180px;
$queue-width: 530px;
$queue-border-radius: 10px;

$button-size: 60px;
$button-margin: 30px;