//Card
$card-height: 130px;
$card-width: 220px; 
$card-font-size: 12pt;
$card-outline-size: 4px;
$card-border-radius: 6px;

//Empty slot
$slot-height: $card-height;
$slot-width: $card-width;
$slot-gap-size: 15px;
$slot-tb-margin-size: 20px;
$slot-border-radius: 2 * $card-border-radius;

//Queue
$queue-height: 180px;
$queue-width: 530px;
$queue-border-radius: 10px;

$button-size: 60px;
$button-margin: 30px;